
@{
    Layout = null;
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-route.min.js"></script>

<h2 class="h2">Stores</h2>

<div class="container" ng-app="TestTask" ng-controller="TestCtrl">
    <table class="table">
        <thead class="row">
            <tr>
                <td>Name</td>
                <td>Location</td>
                <td>Mode</td>
                <td></td>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="s in stores">
                <td>{{s.Name}}</td>
                <td>{{s.Location}}</td>
                <td>{{s.Mode}}</td>
                <td><button ng-click="products(s.Id)" ng-model="clicked" class="btn-info">Get Product List</button></td>
            </tr>
        </tbody>
    </table>

    <br />

    <table class="table" ng-sgow="clicked">
        <thead class="">
            <tr>
                <td class="h2">Products</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Description</td>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="p in productsArray">
                <td>{{p.Name}}</td>
                <td>{{p.Description}}</td>
            </tr>
        </tbody>
    </table>
</div>

@Scripts.Render("~/Scripts/angjs-controller.js")
@Scripts.Render("~/Scripts/bootstrap.min.js")
@Styles.Render("~/Content/bootstrap.min.css")


